<b>

<p>
<center>
<font size="6">
Data Mining Project 2
</font>
</center>
</p>

<p>
<center>
<font size="5">
Instagram "ustrip" Check-ins Databease 
</font>
</center>
</p>

<p>
<center>
<font size="3">
Data Mining, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Author: Voratham Tiabrat
</font>
</center>
</p>

</b>

# Part 2 : Cleaning & Preparing Data

In [1]:
import pandas as pd

In [2]:
AllIG = pd.read_csv('IG.csv')
AllIG.head(10)

                                      Location                      Date
0  Disney's Hollywood Studios, Orlando Florida  2019-10-29T20:13:19.000Z
1                            Las Vegas, Nevada  2019-10-24T04:29:06.000Z
2                            Index, Washington  2019-10-31T15:23:41.000Z
3          Delicate Arch, Arches National Park  2019-10-20T04:04:54.000Z
4                           Golden Gate Bridge  2019-10-09T02:39:43.000Z
5                       New Orleans, Louisiana  2019-08-12T14:33:05.000Z
6                Seven Magic Mountains, Nevada  2019-10-23T02:15:47.000Z
7                              Monument Valley  2019-10-27T19:48:15.000Z
8                        The Lodge on Route 66  2019-09-15T03:58:53.000Z
9                         Chesapeake, Virginia  2019-10-31T23:44:34.000Z

In [3]:
AllIG.shape

(70114, 2)

In [7]:
#Clear all none location Check-ins
df = AllIG.dropna()
#Reset the index
df = IG.reset_index(drop=True)
df.head(10)

                                      Location                      Date
0  Disney's Hollywood Studios, Orlando Florida  2019-10-29T20:13:19.000Z
1                            Las Vegas, Nevada  2019-10-24T04:29:06.000Z
2                            Index, Washington  2019-10-31T15:23:41.000Z
3          Delicate Arch, Arches National Park  2019-10-20T04:04:54.000Z
4                           Golden Gate Bridge  2019-10-09T02:39:43.000Z
5                       New Orleans, Louisiana  2019-08-12T14:33:05.000Z
6                Seven Magic Mountains, Nevada  2019-10-23T02:15:47.000Z
7                              Monument Valley  2019-10-27T19:48:15.000Z
8                        The Lodge on Route 66  2019-09-15T03:58:53.000Z
9                         Chesapeake, Virginia  2019-10-31T23:44:34.000Z

In [9]:
df.shape

(48778, 2)

In [ ]:
# Extracting Month and Year of each post and add the season
month = []
year = []
season = []
for i in range (len(df.index)):
        year.append((df.loc[i,'Date'][0:4]))
        month.append((df.loc[i,'Date'][5:7]))  
        if df.loc[i,'Date'][5:7] in ['03','04','05'] :
            season.append('Spring')
        elif df.loc[i,'Date'][5:7] in ['06','07','08'] :
            season.append('Summer')
        elif df.loc[i,'Date'][5:7] in ['09','10','11'] :
            season.append('Fall')
        elif df.loc[i,'Date'][5:7] in ['12','01','02'] :
            season.append('Winter')

In [11]:
join = {'Month':month,'Year':year,'Season':season}
df2 = pd.DataFrame(join)
df2.shape

(48778, 3)

In [73]:
Data = pd.concat([df,df2], axis=1)
Data.shape

(48778, 5)

In [88]:
Data = Data.drop(['Date'],axis =1)
Data.head(10)

                                      Location Month  Year  Season
0  Disney's Hollywood Studios, Orlando Florida    10  2019    Fall
1                            Las Vegas, Nevada    10  2019    Fall
2                            Index, Washington    10  2019    Fall
3          Delicate Arch, Arches National Park    10  2019    Fall
4                           Golden Gate Bridge    10  2019    Fall
5                       New Orleans, Louisiana    08  2019  Summer
6                Seven Magic Mountains, Nevada    10  2019    Fall
7                              Monument Valley    10  2019    Fall
8                        The Lodge on Route 66    09  2019    Fall
9                         Chesapeake, Virginia    10  2019    Fall

In [91]:
# Export as csv file
Data.to_csv('IG_clean.csv', index = False)